[flake8]

# F401 'module' imported but unused
# F841 local variable 'variable' is assigned to but never used

per-file-ignores =
    ./actinia_gdi/wsgi.py: F401
    ./actinia_gdi/core/processes.py: F841
    ./actinia_gdi/core/common.py: F841
    ./actinia_gdi/resources/config.py: F401
