# These requirements are only necessary when actinia-gdi is used as standalone
# app. In case of installation as actinia-core plugin, the requirements are
# defined in setup.py.

colorlog>=3.1.4
Flask
Flask-Cors>=3.0.3
Flask-RESTful>=0.3.6
flask-restful-swagger-2>=0.35
gunicorn>=19.7.1
jsonmodels>=2.3
peewee>=3.2.2
psycopg2-binary>=2.7.4
pyscaffold
pytest-cov>=2.5.1
python-json-logger
requests>=2.20.0
setuptools>=30.3.0
xmltodict>=0.11.0

# pyscaffold needed for s2i build
