/* <link rel="stylesheet" href="stylesheets/actinia.css" /> */

#spectacle article h1.doc-title {
    color: #97BF0D;
}
#spectacle #sidebar {
  background-color: #97BF0D;
}
#spectacle #sidebar h5 {
  color: #000000;
}
